@charset "ISO-8859-1";

:root {
	--mainColor: #f6f8fa;
	--darkBlack: #2d2f31;
	--darkGrey: #61666b;
	--grey: #d5d5d5;
	--lightGrey: #f2f2f2;
	--yellow: #fecb40;
	--red: #df113c;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: "Noto Sans JP", sans-serif;
}

body {
	width: 100%;
	height: auto;
	color: var(--darkBlack);
}


p {
	font-size: 14px;
}

.label-cart {
	position: fixed;
	top: 15px;
	right: 10px;
	z-index: 4;
	cursor: pointer;
}

.logo {
    position: fixed;
    background-color: var(--darkBlack);
    color: var(--lightGrey);
    width: 100%;
    text-align: center;
    padding: 15px 60px; /* Adjust padding for centering */
    top: 0;
    z-index: 2;
}

/* Add the following CSS for the welcome message */
.welcome-message {
    position: fixed;
    top: 15px;
    right: 10px;
    color: var(--lightGrey);
    z-index: 4;
}


.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	background-color: var(--mainColor);
	z-index: 1;
	padding-top: 70px;
}

.sidebar-menu {
	width: 100%;
	text-align: center;
	padding: 10px 5px;
	color: var(--darkGrey);
}

.sidebar-menu>a {
	text-decoration: none;
	font-size: 0.7rem;
	line-height: 1.5;
	color: var(--darkGrey);
}

.sidebar-menu:hover {
	border-right: 2px solid var(--yellow);
	color: var(--yellow);
}

.sidebar-menu:hover>a {
	border-right: 2px solid var(--yellow);
	color: var(--yellow);
}

.dashboard {
	height: 100%;
	width: 100%;
	padding-right: 30px;
	padding-left: 60px;
}

.dashboard-banner {
	width: 100%;
	height: 300px;
	position: relative;
	margin-top: 4rem;
	padding: 1rem;
	border-radius: 30px;
	cursor: pointer;
}

.dashboard-banner>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
}

.banner-promo {
	position: absolute;
	color: var(--lightGrey);
	top: 25%;
	left: 15%;
	font-weight: 800;
}

.banner-promo>h1>span {
	color: var(--yellow);
}


.dashboard-title {
	padding: 1rem 2rem;
}

.dashboard-menu {
	display: flex;
	gap: 10px;
	padding: 1rem 4rem;
	overflow-x: auto;
}

.dashboard-menu>a {
	text-decoration: none;
	text-align: center;
	border-radius: 20px;
	min-width: 120px;
	padding: 0.5rem 0;
	font-size: 0.9rem;
	color: var(--darkBlack);
	background-color: var(--lightGrey);
}

.dashboard-menu>a:hover {
	background-color: var(--red);
	color: var(--lightGrey);
}

.dashboard-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding: 1rem 1rem 1 rem 1rem;
}

.dashboard-card {
	background-color: var(--mainColor);
	box-shadow: rgba(0, 0, 0, 0.16);
	border-radius: 15px;
	position: relative;
	cursor: pointer;
}

.dashboard-card:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-image {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-radius: 15px;
}

.card-details {
	padding: 10px;
}

.card-details>h4>span {
	float: right;
}

.card-time {
	color: var(--darkGrey);
	font-size: 0.8rem;
	padding-top: 10px;
}


@media screen and (max-width: 600px){
	.dashboard {
		padding-right: 0;
	}
	
	
}