@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
}
body{
     background: url(../IMAGES/pexels-ella-olsson-1640772.jpg) no-repeat;
    background-size: cover; /* Set the width and height of the background image */
    background-position: center;
}
div.main{
    width: 400px;
    margin: 60px auto 0px auto;
}
h1{
    text-align: center;
    padding: 20px 20px 0px 20px;
    
}

div.register{
    background-color: rgba(0, 0,0, .5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255, .3);
    box-shadow: 2px 2px 15px rgba(0, 0,0, .3);
    color: #fff;
}
form#register{
    margin:40px ;
}
label{
    font-size: 18px;
    font-style: italic;
}

input.inputs,select{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0,0, .3);
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(255,100,0, .8);
    columns: #fff;
    cursor: pointer;
    border : 1px solid rgba(255,255,255, .3);
}